---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import PostHeader from '../../components/organisms/PostHeader';
import PostNav from '../../components/molecules/PostNav';
import BackButton from '../../components/molecules/BackButton';

export async function getStaticPaths() {
  const posts = await getCollection('posts', ({ data }) => data.published !== false);
  const sortedPosts = posts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());

  return sortedPosts.map((post, index) => {
    const nextPost = index > 0 ? { slug: sortedPosts[index - 1].slug, title: sortedPosts[index - 1].data.title } : null;
    const prevPost = index < sortedPosts.length - 1 ? { slug: sortedPosts[index + 1].slug, title: sortedPosts[index + 1].data.title } : null;

    return {
      params: { slug: post.slug },
      props: { post, prevPost, nextPost },
    };
  });
}

const { post, prevPost, nextPost } = Astro.props;
const { Content } = await post.render();

const dateStr = post.data.date.toISOString().split('T')[0];
---

<Layout title={post.data.title} description={post.data.description} type="article">
  <BackButton />
  <article>
    <PostHeader title={post.data.title} date={dateStr} tags={post.data.tags || []} />
    <div class="markdown">
      <Content />
    </div>
  </article>
  <hr />
  <PostNav prev={prevPost} next={nextPost} />
  <BackButton />
</Layout>
