---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import PostList from '../../components/organisms/PostList';
import { CATEGORIES } from '../../constants/categories';

export async function getStaticPaths() {
  return CATEGORIES.map((c) => ({ params: { slug: c.slug }, props: { category: c } }));
}

const { slug } = Astro.params;
const { category } = Astro.props;

const allPosts = await getCollection('posts', ({ data }) => data.published !== false);
const posts = allPosts
  .filter((p) => p.data.category === slug)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Layout title={category.title} description={category.description}>
  <h1>{category.title}</h1>
  {category.description && <p style="color: #555;">{category.description}</p>}
  <hr />
  <PostList posts={posts} />
</Layout>
